@page "/categoria/create"
@inject HttpClient http
@inject NavigationManager navigationManager

<h2>Nova Categoria</h2>

<CategoriaForm categoria="@categoria" OnValidSubmit="@CriarCategoria" ButtonTextSubmit="Salvar" ButtonTextCancelar="Cancelar"></CategoriaForm>

@code {
    Categoria categoria = new Categoria();

    async Task CriarCategoria()
    {
        await http.PostAsJsonAsync("api/categoria", categoria);

        navigationManager.NavigateTo("categoria");
    }   

}
