@page "/categoria/edit/{categoriaid:int}"
@inject HttpClient http
@inject NavigationManager navigationManager

<h2>Editar Categoria</h2>

<CategoriaForm categoria="@categoria" ButtonTextCancelar="Cancelar" ButtonTextSubmit="Alterar Dados" OnValidSubmit="EditarCategoria"></CategoriaForm>

@code {
    [Parameter]
    public int categoriaid { get; set; }

    Categoria categoria = new Categoria();

    protected async override Task OnParametersSetAsync()
    {
        categoria = await http.GetFromJsonAsync<Categoria>($"api/categoria/{categoriaid}");
    }

    async Task EditarCategoria()
    {
        await http.PutAsJsonAsync($"api/categoria", categoria);
        navigationManager.NavigateTo("categoria");
    }
}
